*.asm
*.rel
*.lst
*.sym
*.adb
*.cdb
*.ihx
*.bix
*.rst
*.mem
*.map
*.lnk
*.kpf
*.swp
*.iic
docs/html
build

aclocal.m4
autom4te.cache
config.log
config.status
configure
configure~
*Makefile
*Makefile.in
utils/python/allpro88/paths.py
utils/share/logic_tester_database.tar.gz
